*{
	margin:auto;
}
#titulo h2{
	font-size: 80px;
}
#imagen{
	width:95%;
	height:200px;
	border-radius:15px;
}
#imagen:hover {
	filter: grayscale(60%);
	}
#principal{
	width:90%;
	text-align:center;
}
#mensaje2{
	width:80%;
	overflow:hidden;
	
}
#form{
	width:90%;
}
#menu{
	
	overflow:hidden;
	background:#ADCBD2;
	width:90%;
	border-radius:10px;
text-align:center;
	

}
#menu a{
	border-right:solid 1px black;
	padding-right:180px;
	overflow:hidden;
	color:black;
	text-decoration:none;
	
}
#menu a:hover{
	background:black;
	color:white;
	text-decoration:none;
	padding-top:30px;
	border-right:solid 1px black;
}
#Error{
	overflow:hidden;
	width:90%;
}

/*esto es para el formato de la tabla*/
#tabla1{
	border: 1px solid #000;
	width:90%;
}
#tabla1 tr{
	border: 1px solid #000;
}

#tr1{
	background:blue;
	color:white;
}

#tabla1 tr td{
	border: 1px solid #000;
}
#tr2{
	color:black;
}



